// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$pan-green: #30B08F;

// sidebar
$menu-text:#bfcbd9;
$menu-active-text:#409EFF;
$sub-menu-active-text:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menu-background:#304156;
$menu-hover:#263445;

$sub-menu-background:#1f2d3d;
$sub-menu-hover:#001528;

$side-bar-width: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menu-text;
  menuActiveText: $menu-active-text;
  subMenuActiveText: $sub-menu-active-text;
  menuBackground: $menu-background;
  menuHover: $menu-hover;
  subMenuBackground: $sub-menu-background;
  subMenuHover: $sub-menu-hover;
  sideBarWidth: $side-bar-width;
}
